<main class="container">
  <section class="banner">
    <h2 class="text-center">Lets get informed!</h2>
    <h3 class="text-center">Read the latest news from our blog.</h3>
    <hr />
  </section>

  <section class="articles">
    <article
      class="card"
      *ngFor="
        let post of posts$ | async | sortByProperty: 'publish_date':'DESC'
      "
    >
      <header class="card-header bg-transparent">
        <h2 class="card-title">{{ post.title }}</h2>
      </header>
      <aside class="card-body">
        <p class="card-text">
          {{ post.description }}
        </p>
        <p class="card-text">
          <small class="text-muted"
            >by <strong>{{ post.author }}</strong> -
            <time dateTime="{{ post.publish_date }}">{{
              post.publish_date | date: "MMM dd, yyyy"
            }}</time></small
          >
        </p>
        <a [routerLink]="[post.id]" class="btn btn-primary">Read</a>
      </aside>
    </article>
  </section>
</main>
