<main class="container">
  <section class="banner">
    <h2 class="text-center">Lets get informed!</h2>
    <h3 class="text-center">Read the latest news from our blog</h3>
    <hr />
  </section>

  <section class="articles">
    <ng-container *ngIf="posts$ | async as posts; else noPostsYet">
      <article
        class="card"
        *ngFor="let post of posts | sortByProperty: 'publish_date':'DESC'"
      >
        <header class="card-header bg-transparent">
          <h2 class="card-title">{{ post.title }}</h2>
        </header>
        <aside class="card-body">
          <p class="card-text">
            {{ post.description }}
          </p>
          <app-published-by
            [author]="post.author"
            [publishDate]="post.publish_date"
          ></app-published-by>
          <a [routerLink]="[post.id]" class="btn btn-primary">Read</a>
        </aside>
      </article>
    </ng-container>
    <ng-template #noPostsYet><h3>No posts yet!</h3></ng-template>
  </section>
</main>
