header {
  height: 80px;
  background: #faf8f8;
  display: flex;
  align-items: center;
  margin-bottom: 100px;

  a {
    text-decoration: none;
    color: #212529;
  }

  h1 {
    margin: 0;
    padding: 0;
  }
}
