<article *ngFor="let comment of comments">
  <ul class="comments card shadow-sm bg-white rounded">
    <li class="card-body">
      <section class="post-comment">
        <app-published-by
          [author]="comment.user"
          [publishDate]="comment.date"
        ></app-published-by>
        <p class="card-text" [innerHTML]="comment.content"></p>

        <button
          *ngIf="!comment.isReplying"
          type="button"
          class="btn btn-outline-primary btn-sm"
          (click)="comment.isReplying = true"
        >
          Reply
        </button>
      </section>

      <app-comment-new
        *ngIf="comment.isReplying"
        [postId]="comment.postId"
        [commentId]="comment.id"
        [buttonName]="'Reply'"
        (cancelled)="comment.isReplying = false"
        (commented)="commented.emit(comment.postId)"
      ></app-comment-new>

      <app-comment-list
        [comments]="comment.children"
        (commented)="commented.emit($event)"
      ></app-comment-list>
    </li>
  </ul>
</article>
